[ftp-server]
bind-ip=192.168.88.128
bind-port=23333
base-dir=/opt
auth-dir=/etc/.azftpd_auth
daemonize=no
max-client-num=10
simplify=yes

[ftp-log]
log-path=
log-level=debug
log-max-filesize=12M
log-max-entry=100000
log-merge-flag=yes
log-display=yes
net-log=no
log-bind=
log-port=
log-client-num=1
